<header class="bg-slate-200 shadow-md  top-0">
    <div class="flex flex-col items-center justify-center container mx-auto ">
        <h1 class="animate__wobble animate__delay-2s font-extrabold text-3xl drop-shadow text-blue-950">
          CRUD APP
        </h1>
        <div class="mt-1">
          <p class="text-gray-500 text-center pb-3 capitalize">
            User Management System with Angular
          </p>
        </div>
        <div class="mt-1">
          <p class="text-gray-500 text-center pb-3 capitalize">
            CRUD Operations, List View, and Multi-Select Delete
          </p>
        </div>
      </div>
</header>